* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.view {
    background-color: skyblue;
    height: 500px;
    margin: 50px auto;
    overflow: auto;
    position: relative;
    width: 500px;
}

.grass {
    background-color: green;
    bottom: 0;
    float: left;
    height: 50px;
    position: absolute;
    width: 100%;
}

.sun {
    background-color: orangered;
    border-radius: 200px;
    height: 200px;
    left: -90px;
    position: absolute;
    top: -90px;
    width: 200px;
}

.ray-1,
.ray-2,
.ray-3,
.ray-4,
.ray-5 {
    background-color: orange;
    height: 10px;
    position: absolute;
    width: 50px;
}

.ray-1 {
    bottom: 88px;
    right: -63px;
    transform: rotate(6deg);
}

.ray-2 {
    bottom: 40px;
    right: -47px;
    transform: rotate(23deg);
}

.ray-3 {
    bottom: 0;
    right: -18px;
    transform: rotate(45deg);
}

.ray-4 {
    bottom: -29px;
    right: 19px;
    transform: rotate(66deg);
}

.ray-5 {
    bottom: -42px;
    right: 65px;
    transform: rotate(85deg);
}

.mountain {
    border-bottom: 290px solid #179992;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    bottom: 50px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.mountain-top {
    border-bottom: 77px solid #ceeaf6;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    position: absolute;
    right: -65px;
    z-index: 2;
}

.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3 {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6;
    position: absolute;
    top: 70px;
}

.mountain-cap-1 {
    left: -55px;
}

.mountain-cap-2 {
    left: -25px;
}

.mountain-cap-3 {
    left: 5px;
}
